/* @font-face {
  font-family: 'MyDisplayFont';
  src: url('assets/fonts/NotoSansDisplay-Black.ttf');
}
@font-face {
  font-family: 'MyMonoFont';
  src: url('assets/fonts/NotoMono-Regular.ttf');
} */

/* Define the dimensions of the game canvas */
#phaser canvas {
  width: 960px;
  height: calc(100vh - 540px);
}
