/* Define the dimensions of the game canvas */
#phaser canvas {
  width: 800px;
  height: 600px;
}
/* Use a media query to adjust the dimensions of the game canvas if the resulting height is smaller than the screen height */
@media only screen and (max-height: 600px) {
  #phaser canvas {
    width: calc(100vh / 600 * 800);
    height: 100vh;
  }
}

/* Use media queries to adjust the dimensions of the game canvas for smaller screens */
@media only screen and (max-width: 800px) {
  #phaser canvas {
    width: 100vw;
    height: calc(100vw / 800 * 600);
  }
  /* Use a media query to adjust the dimensions of the game canvas if the resulting height is smaller than the screen height */
  @media only screen and (max-height: calc(100vw / 800 * 600)) {
    #phaser canvas {
      width: calc(100vh / 600 * 800);
      height: 100vh;
    }
  }
}
